.container {
    width: 100%;
    height: 40%;
    align-items: center;
    margin-top: 30px;

    &-box {
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
    }
    .text {
        
    }
}


header {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
