.container {
  align-items: center;
  margin-top: 30px;

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .text {
      .lang {
        color: #1589f0;
        border: 1px solid #ddd;
        font-size: 21px;
        font-weight: 600;
        padding: 0.4rem;
        &.detect {
          border-top-left-radius: 5px;
        }
        &.target {
          border-top-right-radius: 5px;
        }
      }
      textarea {
        padding: 1rem;
        outline: none;
        border-color: #ddd;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: larger;
        margin-bottom: 30px;
      }
    }
  }
  .micOff {
      font-size: 40px;
      border: 1px solid #ddd;
      border-radius: 50%;
      box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.60);
      color: #1589f0;
  }
  .micOn {
      font-size: 40px;
      border: 1px solid rgb(255, 0, 0);
      border-radius: 50%;
      box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.60);
      color: #1589f0;
  
  }
  .history {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    margin: 20px;
      span {
          color: #1589f0;
          font-size: 35px;
      }

      .table {
          border: 1px solid #ddd;
          border-radius: 5px;
          width: 60%;
      box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.60);

          &-header {
              display: flex;
              justify-content: space-around;
              border-bottom: 1px solid #1589f0;
              padding: 10px;
              color: #1589f0;
              font-size: 18px;
              font-weight: 600;
          }
          &-row {
            display: flex;
            justify-content: space-around;
            border: 1px solid rgb(245, 242, 242);
            padding: 4px;
          }
      }
  }
}





header {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 1186px) {
    .container-box{
        display: flex;
        flex-direction: column;

        textarea{
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: 630px) {
    header{
  font-size: 20px;

    }
    .text{
        width: 20rem;
        textarea{
            width: 89.5%;
            columns: 30;
            height: 120px;
        }
    }
}
